.container {
  margin-bottom: 56px;
}

.groupMeta {
  display: flex;
  align-items: center;

  margin-bottom: 56px;
}

.groupNumber {
  margin-right: 125px;

  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
}

.verifiedSelector {
  margin-right: 56px;
}
