.wrapper {
    padding: 10px 35px;
}

.title {
    font-weight: 300;
}

.button {
    max-width: 150px;
    background-color: #460EDE;
    color: #ffffff;
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 6px #00000029;
}

.header__wrapper {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
}

.header__logo-wrapper {
    width: 41%;
    max-width: 155px;
}

.header__button {
    display: none;
    width: 130px;
}

.sitetoolbar {
    display: flex;
    align-items: center;
}

.sitetoolbar__button {
    position: relative;
    width: 45px;
    height: 21px;
}

.sitetoolbar__button-line, .sitetoolbar__button-line::before, .sitetoolbar__button-line::after {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    width: 45px;
    height: 2px;
    background-color: #222222;
    transition: width .2s;
}

.sitetoolbar__button-line--active, .sitetoolbar__button-line--active::before, .sitetoolbar__button-line--active::after {
    width: 0;
}

.sitetoolbar__button-line::before, .sitetoolbar__button-line::after {
    content: '';
    display: block;
}

.sitetoolbar__button-line::before {
    transform: translateY(-9px);
}

.sitetoolbar__button-line::after {
    transform: translateY(9px);
}

.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    z-index: 5;
}

.modal-wrapper.active {
    display: flex;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px 15px;
    padding-top: 60px;
}

.modal__content {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
}

.modal__close-button-wrapper {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 22px;
    height: 22px;
}

.modal__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__title {
    font-size: 20px;
    margin-bottom: 24px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__input {
    width: 100%;
    margin-bottom: 24px;
    height: 40px;
    border: 1px solid #bebebe;
    border-radius: 10px;
    outline: none;
    padding: 0 15px;
    font-size: 14px;
    color: #242424;
}

.modal__textarea {
    width: 100%;
    margin-bottom: 24px;
    border: 1px solid #bebebe;
    border-radius: 10px;
    height: 120px;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    resize: none;
}

.modal__textarea--mb40 {
    margin-bottom: 40px;
}

.sitetoolbar__circle-background {
    width: 0;
    height: 0;
    position: fixed;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .8);
    transition: width .3s ease-in-out, height .3s ease-in-out;
    z-index: 6;
}

.sitetoolbar__circle-background--active {
    height: 290%;
    width: 290%;
}

.sitetoolbar__sections {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    justify-content: center;
    align-items: center;
}

.sitetoolbar__sections--active {
    display: flex;
}

.sitetoolbar__sections-list {
    opacity: 0;
    margin-top: 100px;
    transition: opacity .2s, margin .2s;
}

.sitetoolbar__sections-list--active {
    opacity: 1;
    margin-top: 0;
}

.sitetoolbar__section {
    margin-right: 35px;
    padding-bottom: 5px;
    color: #ffffff;
}

.sitetoolbar__section:last-of-type {
    margin-right: 0;
}

.sitetoolbar__section--current {
    border-bottom: 2px solid #ffffff;
}

.sitetoolbar__close-button-wrapper {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 65px;
    right: 40px;
}

.sitetoolbar__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    margin-top: 100px;
    transition: opacity .2s, margin .2s;
}

.sitetoolbar__close-button--active {
    opacity: 1;
    margin-top: 0;
}

.sitetoolbar__sections-list {
    display: flex;
}

.sitetoolbar__section-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sitetoolbar__section-image-wrapper {
    margin-bottom: 10px;
}

.sitetoolbar__section-image--desktop {
    display: none;
}

.sitetoolbar__section-image {
    height: 35px;
}

.sitetoolbar__section-title {
    max-width: 65px;
    font-size: 15px;
}

@media (min-width: 360px) {

}

@media (min-width: 420px) {
    .wrapper {
        max-width: 420px;
        margin: 0 auto;
    }

    .sitetoolbar__section-image {
        height: 65px;
    }

    .sitetoolbar__section {
        margin-right: 70px;
        padding-bottom: 10px;
    }

    .sitetoolbar__close-button-wrapper {
        top: 12%;
        right: 10%;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 600px;
        margin: 0 auto;
        padding: 10px 0;
    }

    .header__wrapper {
        padding: 25px 0;
    }

    .sitetoolbar__section--current {
        border-bottom-width: 3px;
    }

    .sitetoolbar__section-image {
        height: 75px;
    }

    .sitetoolbar__section {
        margin-right: 100px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 950px;
        padding: 10px 80px;
    }

    .header__wrapper {
        max-width: 1050px;
        padding: 30px 40px;
    }

    .sitetoolbar {
        position: fixed;
        transform: translate(0, -50%);
        top: 50%;
        left: 2%;
    }

    .sitetoolbar__button {
        height: 60px;
        width: 19px;
    }

    .sitetoolbar__button-line::before {
        display: none;
    }

    .sitetoolbar__button-line, .sitetoolbar__button-line::after {
        top: 0;
        width: 3px;
        height: 60px;
        margin-top: 0;
        transition: height .2s;
    }

    .sitetoolbar__button-line--active, .sitetoolbar__button-line--active::after {
        height: 0;
    }

    .sitetoolbar__button-line::after {
        transform: translate(15px, 0);
    }

    .sitetoolbar__circle-background {
        display: none;
    }

    .sitetoolbar__close-button-wrapper {
        display: none;
    }

    .sitetoolbar__sections {
        justify-content: flex-start;
    }

    .sitetoolbar__sections-list {
        flex-direction: column;
        background-color: #f7f5f8;
        margin-top: 0;
        margin-left: -100px;
        border-radius: 10px;
    }

    .sitetoolbar__sections-list--active {
        margin-left: 0;
    }

    .sitetoolbar__section {
        margin-right: 0;
        width: 70px;
        border: 1px solid #333333;
        padding-bottom: 0;
        color: #000000;
    }

    .sitetoolbar__section--current {
        color: #ffffff;
    }

    .sitetoolbar__section:first-of-type {
        border-radius: 10px 10px 0 0;
    }

    .sitetoolbar__section:last-of-type {
        border-radius: 0 0 10px 10px;
    }

    .sitetoolbar__section--current {
        background-color: #333333;
        border-color: 
    }

    .sitetoolbar__section-button {
        width: 100%;
        padding: 15px 0;
    }

    .sitetoolbar__section-image {
        height: 50px;
    }

    .sitetoolbar__section-image--mobile {
        display: none;
    }

    .sitetoolbar__section-image--desktop {
        display: block;
    }

    .header__button {
        display: block;
    }
}

@media (min-width: 1300px) {
    .wrapper {
        max-width: 1080px;
        padding: 10px 0;
    }

    .header__wrapper {
        max-width: 1200px;
        padding: 30px 0;
    }

    .button {
        font-size: 18px;
    }

    .title {
        font-size: 32px;
    }
}

@media (min-width: 1500px) {
    .wrapper {
        max-width: 70%;
    }

    .header__wrapper {
        max-width: 80%;
        padding-bottom: 40px;
    }

    .header__logo-wrapper {
        max-width: 170px;
    }
}