.enter {
  max-width: 150px;
  width: 130px;
  background-color: #460ede;
  color: #ffffff;
  font-weight: 300;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 6px #00000029;
}

.filters {
  width: 122px;
  height: 39px;
  margin-bottom: 41px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 200;
  color: white;
  background-color: black;
}

.detailed {
  color: #242424;
  font-size: 13px;
  font-weight: 200;
  border-bottom: 1px solid #242424;
  padding-bottom: 5.5px;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

@media (min-width: 414px) {
  .filters {
    width: 168px;
    height: 54px;
    margin-bottom: 41px;
    border-radius: 10px;
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .filters {
    width: 168px;
    height: 54px;
    margin-bottom: 0;
    font-size: 17px;
  }
}
