.modalContent {
  max-width: 432px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-size: 14px;
  border: 1px solid #bebebe;
  padding: 16px 11px;
  margin-bottom: 25px;
  border-radius: 10px;
  outline: none;
}

.formText {
  font-size: 14px;
  border: 1px solid #bebebe;
  resize: none;
  padding: 15px;
  height: 100px;
  margin-bottom: 40px;
  border-radius: 10px;
  outline: none;
}
