.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 80%;
  height: 73%;
  max-height: 385px;
  background-color: #fff;
  z-index: 101;
  overflow-y: scroll;
  border-radius: 10px;
}

.modalBox::-webkit-scrollbar {
  display: none;
}

.closeButton {
  position: absolute;
  right: 0.5em;
  cursor: pointer;
  font-size: 2rem;
  color: #a5a4a4;
  z-index: 1001;
}

.modalTitle {
  font-weight: normal;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .modalTitle {
    margin-top: 1em;
  }
}

@media screen and (min-width: 768px) {
  .modalBackdrop {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
