.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 90%;
  height: 70%;
  max-height: 387px;
  background-color: #fff;
  z-index: 101;
  overflow-y: auto;
}

.closeButton {
  display: inline-block;
  cursor: pointer;
  margin-left: calc(100% - 1em);
  font-size: 2em;
  color: #a5a4a4;
  z-index: 1001;
}

.modalTitle {
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 1.2em;
}
