.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);

  @media screen and (min-width: 768px) {
    & {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 40px 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 80%;
  height: 90%;
  max-height: 385px;
  background-color: #fff;
  z-index: 5;
  overflow-y: scroll;
  border-radius: 10px;
}

.modalBox::-webkit-scrollbar {
  display: none;
}

.closeButton {
  position: absolute;
  right: 17px;
  cursor: pointer;
  font-size: 21px;
  color: #a5a4a4;

  @media screen and (min-width: 768px) {
    & {
      right: 22px;
      top: 25px;
    }
  }
}

.modalTitle {
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 20px;

  @media screen and (min-width: 768px) {
    & {
      margin-top: 14px;
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
}
