.container {
  margin-bottom: 88px;
}

.title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 32px;
}

.groups {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 24px;
  color: #A4A4A4;
}

.description {
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 24px;
}

.viewButton {
  margin-right: 50px;
}
