.table {
  width: 100%;

  border-collapse: collapse;
}

.th {
  padding-bottom: 8px;

  color: #a4a4a4;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;

  &:first-of-type {
    text-align: left;
  }
}

.tr {
  border-top: 1px solid #a4a4a4;

  &Hover {
    transition: all 0.2s;

    &:hover {
      background-color: rgba($color: #a4a4a4, $alpha: 0.2);
      cursor: pointer;
      transition: all 0.2s;
    }
  }
}

.td {
  max-width: 130px;
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 15px;
  line-height: 24px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:first-of-type {
    text-align: left;
  }

  &Big {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
