.container {
  padding-top: 75px;
}
.caption {
  margin-bottom: 32px;
}
.buttons {
  display: flex;
  margin-bottom: 80px;
  button {
    margin-right: 50px;
  }
}

.description {
  h3 {
    font-size: 20px;
  }
  li {
    font-size: 15px;
  }
}

.task-description {
  display: block;
}

.clarification {
  display: block;
}

.links-breakdown {
  display: block;
}

.links {
  display: block;
}

.breakdown {
  display: block;
}

.criteria {
  display: block;
}
