.container {
  padding-top: 75px;
}
.caption {
  margin-bottom: 32px;
}
.buttons {
  display: flex;
  margin-bottom: 80px;
  button {
    margin-right: 50px;
  }
}

.description{
  h3{
    font-size: 20px;
  }
  li{
    font-size: 15px;
  }

}
