.container {
  padding-top: 75px;
}

.caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.buttons {
  display: flex;
  margin-top: 32px;
  button {
    margin-right: 50px;
  }
}
