.box {
  margin-bottom: 88px;

  &Title {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }

  &Body {
    margin-top: 32px;
  }

  &Buttons {
    margin-top: 32px;
  }
}

.mb32 {
  margin-bottom: 32px;
}

.deleteButton {
  margin-right: 48px;
}
